@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

header {
    height: 50rem;
    background-color: blueviolet;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f5f5f5ec;
    font-weight: bold;
}

h1 {
    color: #f5f5f5ec;
    font-weight: bold;
    font-size: 8rem;
}

#lunch {
    font-size: 2rem;
    background-color: rgb(92, 0, 128);
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

main >:nth-child(2) {
    height: 30rem;
    background-color: rgb(47, 2, 129);
}

main >:first-child {
    height: fit-content;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

main >:nth-child(3) {
    height: 15rem;
}

#fecha {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(73, 2, 95);
}

#fecha div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

#tbd {
    color: rgba(0, 0, 0, 0.87)
}

#logo-calendario {
    height: 8rem;
    width: 8rem;
}

button {
    background-color: rgb(73, 2, 95);
    color: #f5f5f5ec;
    font-size: 1.5rem;
    font-weight: 800;
    width: 20rem;
    border-radius: none;
    border: none;
    height: 3rem;
}

main >:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 5rem;
}

#vid-box {
    height: 20rem;
    width: 35rem;
    border-radius: 15px;
    border: solid #f5f5f5ec 5px;
    background-color: rgb(65, 4, 134);
}

main >:nth-child(2) p {
    width: 30vw;
    color: #f5f5f5ec;
}

#speaker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(73, 2, 95);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5ec;
    background-color: blueviolet;
}

#rights {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
}

/*------------------ MEDIA QUERIES ---------------------*/

@media (max-width: 768px) {

    header {
        padding: 5rem
    }

    h1 {
        font-size: 5rem;
    }

    main div p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        width: 12rem;
    }

    main >:first-child {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    main >:nth-child(2) {
        flex-direction: column;
    }

    main >:nth-child(2) p {
        width: 80vw;
    }

    #vid-box {
        height: 40%;
        width: 80vw;
    }

    #speaker p {
        font-size: 1.2rem;
    }

    #speaker {
        height: 11rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        padding: 2rem;
    }

    footer div, #rights {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 992px) {

    main >:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        gap: 2rem;
    }
    
}