* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

header, main, footer {
    border: solid
}

header {
    height: 50rem;
    background-color: blueviolet;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f5f5f5ec;
    font-weight: bold;
}

h1 {
    color: #f5f5f5ec;
    font-weight: bold;
    font-size: 8rem;
}

#lunch {
    font-size: 2rem;
    background-color: rgb(92, 0, 128);
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
